[Match]
Name=en* eth*

[Link]
RequiredForOnline=no

[Network]
DHCP=yes
# DNS=1.12.12.12#dot.pub
# DNS=120.53.53.53#dot.pub
DNS=1.1.1.1#cloudflare-dns.com
DNS=8.8.8.8#dns.google
DNSOverTLS=yes

[DHCPv4]
UseDNS=no

[DHCPv6]
UseDNS=no

[IPv6AcceptRA]
UseDNS=no
